*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/terminal-emulator/build/
/terminal-emulator/build/intermediates/javac/debug/classes/
/terminal-view/build/
/terminal-view/build/intermediates/javac/debug/classes/